* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.face-container {
  margin-left: 200px;
  width: 250px;
}

.face{
  display: flex;
  flex-direction: column;
  background: yellowgreen;
  padding: 20% 15% 15% 20%;
  width: 100%;
  border-radius: 45%;
  border: 3px solid black;
}

.eyes{ 
  width: 100%;
  display: flex;
  gap: 5%;
}

.nose{
  flex-shrink: 0;
  width: 17%;
  aspect-ratio: .7;
  background: #000;
  margin-top: 5%;
  margin-left: 45%;
  border-radius: 50%;
}

.mouth{
  flex-shrink: 0;
  margin-top: 6%;
  width: 70%;
  height: 15%;
  /* background: #000; */
  border-bottom: #000 solid 25px;
  margin-left: 33%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 50%;
}

.container {
  /* flex-shrink: 0; */
  width: 47.5%;
  aspect-ratio: 1;
  background-color: white;
  border: black 3px solid;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 40%;
  height: 40%;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

.inner {
  width: 20%;
  height: 20%;
  background-color: white;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17%;
}
