.LOOKING_GUY {
  width: 250px;
}

.LOOKING_GUY * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.LOOKING_GUY__face {
  display: flex;
  flex-direction: column;
  background: yellowgreen;
  padding: 12% 8% 8% 12%;
  width: 100%;
  border-radius: 35%;
  border: 2px solid black;
  transition: 0.2s;
}

.LOOKING_GUY--NORMAL .LOOKING_GUY__face {
  aspect-ratio: 1.2;
}

.LOOKING_GUY--VERTICAL .LOOKING_GUY__face {
  border-radius: 42%;
  padding: 20%;
  background: #7a7;
  aspect-ratio: 0.5;
}

.LOOKING_GUY__mouth {
  flex-shrink: 0;
  width: 17%;
  aspect-ratio: 0.7;
  /* aspect-ratio: 8; */
  background: #000;
  margin-top: 5%;
  margin-left: 45%;
  border-radius: 50%;
  transition: 0.15s;
}

.LOOKING_GUY__eyes {
  width: 100%;
  display: flex;
  gap: 3.5%;
}

.LOOKING_GUY__outer-eye {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  border: black 2px solid;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LOOKING_GUY--VERTICAL .LOOKING_GUY__outer-eye {
  flex-shrink: 0;
}

.LOOKING_GUY--VERTICAL .LOOKING_GUY__outer-eye:first-child {
  margin: 0px auto;
  margin-bottom: 7%;
  width: 80%;
}

.LOOKING_GUY__middle-eye {
  width: 40%;
  height: 40%;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}

.LOOKING_GUY__inner-eye {
  width: 20%;
  height: 20%;
  background-color: white;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17%;
}

.LOOKING_GUY--VERTICAL .LOOKING_GUY__eyes {
  flex-direction: column;
}

.LOOKING_GUY--VERTICAL .LOOKING_GUY__mouth {
  width: 35%;
  margin-left: 35%;
  margin-top: 20%;
}

.LOOKING_GUY--NORMAL:hover .LOOKING_GUY__face {
  padding: 0 0 5% 0;
  border-radius: 45%;
  background: hsl(80, 75%, 58%);
}

.LOOKING_GUY--NORMAL:hover .LOOKING_GUY__mouth {
  border-radius: 10%;
}

.LOOKING_GUY--VERTICAL:hover .LOOKING_GUY__mouth {
  border-radius: 10%;
}

.LOOKING_GUY--VERTICAL:hover .LOOKING_GUY__face {
  border-radius: 50%;
  border-top-left-radius: 34%;
  border-top-right-radius: 34%;
  background: cyan;
  padding: 15% 19% 25% 19%;
}
