* {
  padding: 0;
  margin: 0;
}

.container {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 65px;
  height: 65px;
  background-color: wheat;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

.inner {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}
